/* Tablet device */
@media screen /*and (min-width:576px)*/ and (max-width:960px) {

    /* header responsive part */
    header .nav-container,
    header .banner-container .banner-content-part,
    main .play-game-section .play-game-container,
    main .play-directly-section .play-directly-container {
        flex-direction: column;
    }

    header .nav-container .menu-part {
        margin: 30px 0;
        width: 100%;
    }

    /* banner section style and flex-direction: column-reverse*/
    header .banner-section {
        background: none;
    }

    header .banner-container {
        flex-direction: column-reverse;
    }

    header .banner-container .banner-content-part {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        margin: 40px auto;
        background: url('../images/banner-background.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    header .banner-container .banner-img-part {
        width: 80%;
    }

    /* Main part responsive part */
    main .play-game-section .play-game-container .play-game-content{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    main .play-game-section .play-game-container .play-game-content p{
        width: 70%;
    }
    main .play-game-section .play-game-container .play-game-image,
    main .play-directly-section .play-directly-container,
    main .play-directly-section .play-directly-container h1{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    /* video lists */
    main .games-video-section .games-video-container .videos-container {
        grid-template-columns: repeat(2,1fr);
        width: 60%;
    }
    /* Dirict play games responsive */
    main .play-directly-section .play-directly-container .play-directly-content p{
        padding: 0;
        text-align: center;
    }
    main .play-directly-section .play-directly-container .play-directly-image{
        width: 70%;
    }
    /* More games part */
    main .more-games-section .more-games-container{
        padding: 0 30px;
    }
}