/* Tablet device */
@media screen /*and (min-width:576px)*/ and (max-width:960px) {

    /* header responsive part */
    header .nav-container,
    header .banner-container .banner-content-part,
    main .play-game-section .play-game-container {
        flex-direction: column;
    }

    header .nav-container .menu-part {
        margin: 30px 0;
        width: 100%;
    }

    /* banner section style and flex-direction: column-reverse*/
    header .banner-section {
        background: none;
    }

    header .banner-container {
        flex-direction: column-reverse;
    }

    header .banner-container .banner-content-part {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        margin: 40px auto;
        background: url('../images/banner-background.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    header .banner-container .banner-img-part {
        width: 80%;
    }

    /* Main part responsive part */
    main .play-game-section .play-game-container .play-game-content{
        width: 80%;
        text-align: center;
    }
    main .play-game-section .play-game-container .play-game-image{
        width: 90%;
        text-align: center;
    }
}