/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=Lato&family=Montserrat&family=PT+Serif&family=Poppins:ital,wght@0,400;0,700;0,800;1,400&family=Work+Sans:wght@300;400;700;800;900&display=swap');


/* Style variables */
:root {
    --primary-color: #FF42A5;
    --header-font-color: #0B0223;
    --header-style-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --button-background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --button-background-2: linear-gradient(90deg, #DF2285 0%, #DF2285 100%);
    --text-color-1: #3C354F;
    --text-color-2: #534C64;
    --max-width: 1440px;
    --font-family: 'Work Sans', sans-serif;
}

/* Body style part */
body {
    font-family: var(--font-family);
}

/* primary styles of style header, buttons and paragraph */
.primary-header {
    font-size: 2.6em;
    color: var(--header-font-color);
}

.style-header {
    font-size: 2.6em;
    color: --header-font-color;
    background: var(--header-style-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-button {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    background: var(--button-background);
    background-color: var(--button-background-2);
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    transition: 0.3s !important;
}
.primary-button:hover{
    cursor: pointer;
    opacity: 0.6;
}
.primary-paragraph {
    font-family: var(--font-family);
    color: var(--text-color-2);
    size: 18px;
}

/* Header style part */

header .nav-container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

/* header logo part */
header .nav-container .logo-part {
    display: flex;
    align-items: center;
    flex-grow: 6;
}

header .nav-container .logo-part p {
    text-align: center;
    font-family: var(--font-family);
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header .nav-container .logo-part p span {
    color: var(--primary-color);
}

header .nav-container .logo-part img {
    width: 80px;
    height: 40px;
    margin-right: 20px;
}

/* Header menu part */
header .nav-container .menu-part {
    flex: 5.5;
}

header .nav-container .menu-part ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

}

header .nav-container .menu-part ul li a {
    text-decoration: none;
    color: var(--text-color-1);
    font-size: 18px;
}

header .nav-container .menu-part ul li button {
    color: var(--text-color-1);
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    border: 0;
}

header .nav-container .menu-part ul li button i:first-child {
    color: red;
    margin: 0 10px;
}

/* This is banner section  */
header .banner-section {
    background: url('../images/banner-background.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

header .banner-container {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
}
header .banner-container .banner-content-part{
    width: 50%;
}
header .banner-container .banner-content-part .style-header{
    font-size: 4rem;
    margin: 10px 0 20px 0;
    text-align: left;
}
header .banner-container .banner-content-part p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    text-align: left;
}
header .banner-container .banner-content-part .buttons {
    margin: 30px 0;
    text-align: left;
    display: flex;
    gap: 20px;
}
header .banner-container .banner-content-part .buttons > .button2{
    background: #4EC5F7 !important;
}

header .banner-container .banner-img-part{
    width: 50%;
}
header .banner-container .banner-img-part img{
    width: 95%;
}

/* Main section styles */
/* Main play game section */
main .play-game-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
}
main .play-game-section .play-game-container{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
main .play-game-section .play-game-container .play-game-image{
    flex: 5;
}
main .play-game-section .play-game-container img{
    width: 100%;
}

main .play-game-section .play-game-container .play-game-content{
    text-align: right;
    padding-right: 30px;
    flex: 2.5;
}
main .play-game-section .play-game-container .play-game-content p{
    margin: 30px auto;
}
main .play-game-section .play-game-container .play-game-content .quote{
    margin: 30px auto 10px;
}

/* Play directly section style */
main .play-directly-section .play-directly-container{
    max-width: var(--max-width);
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}
main .play-directly-section .play-directly-container .play-directly-content{
    flex: 1;
    text-align: right;
}
main .play-directly-section .play-directly-container .play-directly-content p{
    padding-left: 50%;
    margin: 30px 0;
}
main .play-directly-section .play-directly-container .play-directly-image{
    /* height: 650px; */
    /* background: url('../images/play.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain 100%; */
    position: relative;
    flex: 1;
}
main .play-directly-section .play-directly-container .play-directly-image .img-2{
    width: 30%;
    position: absolute;
    bottom: -8%;
    left: -15%;
}